.layout {
    margin-left: 200px;
}

.content {
    margin: 24px 24px 0 24px;
    overflow: initial;
}

.footer {
    text-align: center;
}

@media (max-width: 768px) {
    .layout {
        margin-left: 0px;
    }
}
